* {
	font-family: "fira-sans",sans-serif;
}

body {
  text-align:center;
  background-color:#E3E4E1;;
}

#container {
   width: 960px;
   
}

header {
	background-color:#E3E4E1;
	border:2px solid black;
	border-bottom: none;
	width:960px;
	padding:30px;
}

h2 {
	font-size: 32px;
	margin-bottom: 0px;
}

h3 {
	margin-top: 0px;
	font-size: 26px;
}

a:hover {
	color:blue;
}
#one {
	background-color:#E3E4E1;
	border:2px solid black;
	border-bottom: none;
	width:960px;
	padding:30px;
	padding-bottom:40px;
	position: relative;
}
#two {
	background-color:#E3E4E1;
	border:2px solid black;
	border-bottom: none;
	width:960px;
	padding:30px;
	padding-bottom:80px;
	position: relative;
}
#three {
	background-color:#E3E4E1;
	border:2px solid black;
	width:960px;
	padding:30px;
	padding-bottom:90px;
	position: relative;
}

a {
	color:green;
	text-decoration: none
}
li {
	font-size:18px;
	font-family:Arial;
	text-align:left;
}
#git {
	width:200px;
	height:200px;
	position: absolute;
	top: 20px;
	right: 30px;
}

#code {
	width:300px;
	height:75px;
	position: absolute;
	top: 80px;
	right: 50px;
}
#computer {
	width:200px;
	height:200px;
	position: absolute;
	top: 10px;
	right: 20px;
}